@main("STREAM") {

    <h1>Comet clock</h1>

    <div id="clock"></div>

    <p>
        Clock events are pushed from the Server using a Comet connection.
    </p>

    <script type="text/javascript" charset="utf-8">
            // Called for each Comet message
            var clockChanged = function(time) {
                document.getElementById('clock').innerHTML += `<p/>${time}`;
            }
    </script>

    <iframe id="comet" src="@routes.FreshController.streamClock().unique"></iframe>

}
